// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "url-helpers";

// Patterns
@import 'patterns/check-your-answers';


.legal_message {
  margin: 30px 0 30px;
  padding-left: 60px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
  background-size: 34px 34px
}

