<h2 class="heading-large pattern-fragment">Account creation</h2>

<p>Include a one sentence description of the pattern here</p>

<p>On this page:</p>
<div>
  <a href="#pattern1">- Pattern v1</a><br>
  <a href="#pattern2">- Pattern v2</a><br>
  <a href="#pattern3">- Pattern v3</a><br>
</div>

<a id="pattern1"></a>
<hr>
<h2 class="heading-medium">Pattern v1</h2>

<div class="example">
  <div class="grid-row">
    <div class="column">
      <h1 class="heading-xlarge">Declaration</h1>
      <p class="text">By sending the application you agree that:</p>
      
      <ul class="list-bullet">
        <li>the information is correct and complete as far as you know</li>
      </ul>
      <div class="legal_message">
        You could be prosecuted or have to pay a penalty if you
        deliberately give the wrong or incomplete information or don’t
        report changes.
      </div>
      <p><a href="#" class="button">I agree - send my application</a></p>
    </div>
  </div>
</div>

<h3 class="heading-small">Code</h3>
<div class="grid-row">
      <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View code snippet</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">HTML</a>
              <a href="#" class="tab-link">CSS</a>
            </div>


            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
                <pre class="language-markup">
                  <code class="language-markup">

&lt;h1 class=&quot;heading-xlarge&quot;&gt;Declaration&lt;/h1&gt;

&lt;p class=&quot;text&quot;&gt;By sending the application you agree that:&lt;/p&gt;

&lt;ul class=&quot;list-bullet&quot;&gt;
  &lt;li&gt;the information is correct and complete as far as you know&lt;/li&gt;
&lt;/ul&gt;

&lt;div class=&quot;legal_message&quot;&gt;
You could be prosecuted or have to pay a financial penalty if you
deliberately give the wrong or incomplete information or don't
report changes.
&lt;/div&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;I agree - send my application&lt;/a&gt;&lt;/p&gt;
                  </code>
                </pre>
              </div>

              <div class="tab-pane" style="display: none;">
                <pre class="language-css"><code class="language-css">
.legal_message {
  margin: 30px 0 30px;
  padding-left: 60px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
  background-size: 34px 34px
}
                   </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </details>
    </div>

<h3 class="heading-small">Research</h3>
<p>Research findings here. We'll keep the content as concise as possible while still conveying useful context.</p>

<h3 class="heading-small">Accessibility</h3>
<p>Notes on accessibility testing go here. Just a sentence or two if anything of particular note, or any current known issues.</p>

<h3 class="heading-small">Recommendations</h3>
<p>This might include guidance on when to use, notes on variations or possible functionality worth considering for inclusion if using on your service.</p>

<hr>