{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<h1 class="heading-xlarge">Home Office Pattern Library</h1>

<div class="grid-row">

    <div class="column-one-quarter browse-panes">
    <!-- tab headings go here -->
      <ul class="tab">
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'account_creation')">Account creation</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'alerts')">Alerts & warnings</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'button_variants')">Button variants</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'date_picker')">Date picker</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'disabled_states')">Disabled states</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'filters')">Filters</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'gestures')">Gestures</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'headers')">Headers</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'navigation')">Navigation</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'notifications')">Notifications</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'password_reset')">Password reset</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'search_results')">Search results</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'searching')">Searching</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'tables')">Tables</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'tagging')">Tagging</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'task_lists')">Task lists</a></li>
        <hr class="no-margins">
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'colour_palette')">Colour palette</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'iconography')">Iconography</a></li>
        <li><a href="#/" class="tablinks" onclick="showPattern(event, 'sketch_templates')">Sketch templates</a></li>
        <!-- <li><a href="#/" class="tablinks disabled" onclick="showPattern(event, 'Completion')">Completion</a></li> -->
      </ul>
    </div>

    <div class="column-three-quarters" id="content-area">
      <div id="Case Data" class="tabcontent" >
        <p>This pattern library contains patterns developed uniquely for Home Office services by researchers, designers and developers within Home Office Digital.</p>

      <p>These patterns complement the existing GOV.UK design patterns.</p>

      <p>You should use them when designing a new Home Office service, unless your research suggests there is a strong case for taking an alternative approach.</p>

      <h2 class="heading-medium">Patterns for all Home Office services</h2>

        <ul class="list list-bullet">
          <li><a href="/examples/elements/header">Headers</a></li>
          <li><a href="/examples/elements/radio-buttons-checkboxes">Radio buttons and checkboxes</a></li>
          <li><a href="/examples/elements/header">Example 3</a></li>
        </ul>

      <h2 class="heading-medium">Patterns for internal Home Offices services</h2>

        <ul class="list list-bullet">
          <li><a href="">Search</a></li>
          <li><a href="">Search results</a></li>
          <li><a href="">Empty states</a></li>
          <li><a href="">Filters</a></li>
        </ul>

      <h2 class="heading-medium">Submitting a pattern</h2>

        <p>To be included in this library every pattern or element must:</p>

          <ul class="list list-bullet">
            <li>be used by more than one Home Office service</li>
            <li>be tested with users and common assitive technologies</li>
            <li>not be a variation of a gov.uk style</li>
            <li>be approved by a majority of the HOD design community at a design crit</li>
          </ul>

        <p>If you'd like to submit a pattern <a href="">do this process we need to figure out</a></p>
       
      </div>


    </div>
  </div>
</main>

{% endblock %}
